.product{
  width: 300px;
  height: 400px;
  border: 1px solid #95A0A7;
  border-radius: 8px;
  position: relative;
}

.product img{
  width: 286px;
  height: 125px;
  border-radius: 17px;
  margin: 8px;
}

.product-info{
  margin: 0 14px;
}

.product-info p{
  margin-top: 0;
  margin-top: 5px;
}

.product-name{
  font-family: 'Lucida Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
}

.btn-cart{
  width: 100%; 
  color: white;
  background-color: rgb(10, 143, 196);
  border: none;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  cursor: pointer;
}
.btn-cart:hover{
  background-color: green;
}